<%- include("partials/header") %>
<h1 style="color: white;text-align: center;">Forgot Password</h1>
<div class="ui main text container segment">
    <form class="ui form" action="/forgot" method="POST">
<label>Registered email</label>
<input type="email" name="email" placeholder="please enter your email" required>
<button type="submit" class="ui primary button">Submit</button>
</form>
</div>
<%- include("partials/footer") %>