
<%- include("partials/header") %>

<div style="background-image: url(https://images.unsplash.com/photo-1530541930197-ff16ac917b0e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjk3MzA2fQ);height: 100%;width: 100%;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    
    <h1 style="text-align: center;color: white;margin-top: 40px;">Welcome to Camper</h1>
<a  href="/campgrounds">
<button style="margin:auto;
display:block;" class="ui white button">
Travel with Camper  
</button>
</a>
</div>
<%- include("partials/footer") %>