<%- include("partials/header") %>
<div class="ui segment">
<form class="ui form" action="/campgrounds/<%=camp._id%>/comment" method="POST">
    <label>Text</label>
    <input placeholder="add text here" name="comment[text]" required>
    <button class="ui button primary" type="submit">Submit</button>
</form>
</div>
<%- include("partials/footer") %>